* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font: 400 17px/1.8 $text-font-family;
  background: $background-color;
  color: $text-color;

  @include breakpoint(small) {
    font-size: 15px;
    line-height: 1.8;
  }
}
